* {
    margin: 0;
    --background-color: rgba(250, 235, 215, 0.382);
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 100vw;
}

.header {
    height:10%;
    border: 1px solid brown; 
    width: inherit;
    display: inherit;
    padding-right: 50px;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    gap:50px;
    p {
        padding: 40px;
        width: 90%;
        background-color: var(--background-color);
    }
    form {
        background-color: var(--background-color);
        padding: 5px;
        margin:2xp 10px;
        display: inherit;
        gap:10px;
    }
    input {
        border: 1px solid gray;
        height:2rem;
        font-size: 1.2rem;
    }
    button {
        border-radius: 10%;
        background-color: rgba(232, 217, 11, 0.41);
    }
}

.today {
    height: 20%;
    border: 1px solid brown; 
    display: flex;
    padding: 5px 20%;
    justify-content: space-around;
    text-align: center;
    gap:5%;
    div {
        background-color: var(--background-color);
        border: 1px solid brown; 
        align-self: center;
        height: auto;
        width: max-content;
        border-radius: 5px;
        padding:20px;
    }
}

.today .date {
    display: flex;
    flex-direction: column;
    .temp {
        font-size: 3rem;
    }
    .location {
        font-size: 1.5rem;
    }
}

.forecast {
    display: flex;
    flex-direction: column;
    border: 1px solid brown; 
    height: 70%;

}

.entry {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    border: 1px solid brown; 
    height:5vw;
    align-items: center;
    padding:2px 20px;
    .date {
        font-size: 1.5rem;
    }
    .temp {
        font-size: 1.2rem
    }
}